:host {
    background-color: var(--ion-color-primary);
}

ion-content {
    .playlist {
        display: flex;
        padding: 0.75rem;
        overflow-x: scroll;
        width: 100%;
        background-color: var(--ion-color-primary);

        ion-button {
            margin-left: 10px;
        }
    }

    ion-icon {
        color: var(--ion-color-secondary);
    }
}