<ion-header>
  <ion-toolbar mode="ios" color="secondary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="( user$ | async ) as user">

  <ng-container *ngIf="(gameList$ | async) as gameList">
    <app-profile-card [userData]="user" [gameList]="gameList"></app-profile-card>
  </ng-container>

  <ion-list lines="full" mode="ios">

    <ion-list-header color="primary">
      <ion-label>Playlist</ion-label>
    </ion-list-header>

    <div class="playlist">
      <ion-button color="secondary" shape="round" size="default" mode="ios"
        (click)="openPlaylistModal(user.gameLists, 'Favorite')">
        <ion-label>Favourite Games</ion-label>
      </ion-button>
      <ion-button color="secondary" shape="round" size="default" mode="ios"
        (click)="openPlaylistModal(user.gameLists, 'Wishlist')">
        <ion-label>Games To Play</ion-label>
      </ion-button>
      <ion-button color="secondary" shape="round" size="default" mode="ios" [routerLink]="['/custom-lists']">
        <ion-label>Custom Lists</ion-label>
      </ion-button>
    </div>

    <ion-list-header color="primary">
      <ion-label>Personal</ion-label>
    </ion-list-header>

    <ion-item button="true" detail="false" color="primary" [routerLink]="['/my-reviews']">
      <ion-label>My reviews</ion-label>
      <ion-icon slot="end" name="ios-star-half"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false" color="primary" [routerLink]="['/my-comments']">
      <ion-label>My comments</ion-label>
      <ion-icon slot="end" name="ios-text"></ion-icon>
    </ion-item>

    <ion-list-header color="primary" margin-top>
      <ion-label>Settings</ion-label>
    </ion-list-header>

    <ion-item button="true" detail="false" color="primary" [routerLink]="['/profile-edit']">
      <ion-label>Edit Profile</ion-label>
      <ion-icon slot="end" name="md-create"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false" color="primary" (click)="logout()">
      <ion-label>Log Out</ion-label>
      <ion-icon slot="end" name="md-power"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false" color="primary" [routerLink]="['/legal-doc']">
      <ion-label>Legal Doc</ion-label>
      <ion-icon slot="end" name="ios-document"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>