<ion-header>
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding mode="ios">
    <ion-list-header color="primary" mode="ios">
      <ion-label>Games News</ion-label>
    </ion-list-header>

    <ion-slides pager="false" [options]="newsSlidersOptions">
      <ion-slide *ngFor="let notice of news">
        <app-news-card [notice]="notice"></app-news-card>
      </ion-slide>
    </ion-slides>

    <ion-list-header color="primary" mode="ios">
      <ion-label>Last Games Added</ion-label>
    </ion-list-header>

    <ion-slides class="games-added" pager="false" [options]="gamesSlidersOptions">
      <ng-container *ngIf="(latestGames$ | async) as gameList">
        <ion-slide *ngFor="let game of gameList">
          <app-game-small-card [game]="game"></app-game-small-card>
        </ion-slide>
      </ng-container>
    </ion-slides>

  </ion-list>
</ion-content>