<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Search Games</ion-title>
  </ion-toolbar>
  <ion-searchbar color="light" [(ngModel)]="searchQuery" placeholder="" animated debounce="500"
    (ionChange)="findGame()">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="videogames$ | async as games">
    <ion-item button="true" detail="false" *ngFor="let game of games" color="item"
      (click)="openFranchiseModal(game.franchise, game)">
      <ion-thumbnail>
        <img src="{{ game.cover }}">
      </ion-thumbnail>
      <ion-text padding>{{ game.title }}</ion-text>
      <ion-button slot="end" fill="clear">
        <ion-icon name="ios-arrow-dropright" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>