<ion-content color="primary">
  <ion-item color="primary" lines="none">
    <ion-input placeholder="Type playlist name" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-buttons margin-top margin-bottom justify-content-evenly>
    <ion-button (click)="dismiss()" slot="start" color="secondary">
      <ion-icon name="close" size="large"></ion-icon>
    </ion-button>
    <ion-button text-center fill="solid" color="secondary" (click)="createPlaylist()" slot="end">
      <ion-icon name="ios-add" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-content>