<ion-content>
  <ion-item>
    <ion-range min="0" max="100" step="0.5" pin="true" [(ngModel)]="rating">
      <ion-icon size="small" slot="start" name="star-outline"></ion-icon>
      <ion-icon slot="end" name="star" size="large"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" fill="clear" (click)="closeModal()">CANCEL</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" fill="clear" (click)="sendRating()">VOTE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>