:host {
    background-color: var(--ion-color-primary);
}

ion-slides {
    --bullet-background: black;
    background-color: black;
    width: 100%;
    height: 100%;

    ion-slide {
        width: 100%;
        height: 100%;

        .page {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;
                left: 0;
                top: 0;
            }

            .text {
                padding: 2rem;
                position: relative;

                h1 {
                    color: var(--ion-color-secondary);
                    font-weight: bold;
                    font-size: 17px;
                }

                p {
                    color: #fff;
                    font-size: 16px;
                }
            }

            .swiper-pagination {
                width: 100%;
                bottom: 30%;

                /deep/ {
                    span {
                        &.swiper-pagination-bullet-active {
                            border: none;
                            background: var(--ion-color-secondary);
                        }

                        margin: 3px !important;
                        background: transparent;
                        border: solid 1px white;
                        opacity: 1;
                    }
                }
            }

            .footer {
                width: 100%;
                position: absolute;
                bottom: 0;

                ion-button {
                    width: 100%;
                }
            }

            &.second {
                .footer {
                    ion-button:last-child {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}