<ion-content scrollY="false">
  <ion-slides scrollbar="false" [options]="sliderOptions" #myslide>
    <ion-slide>
      <div class="page">
        <img src="/assets/img/tour-1.jpg" alt="">

        <div class="text">
          <h1>Geek paradise</h1>
          <p padding-horizontal>
            Be aware of the latest news of the videogame universe and check the last games added and rate the games
            you've played.
          </p>
        </div>

        <div class="swiper-pagination"></div>

        <div class="footer" padding>
          <ion-button mode="ios" expand="block" color="secondary" shape="round" (click)="myslide.slideNext();">
            <ion-label>
              Next
            </ion-label>
          </ion-button>
          <ion-button mode="ios" expand="block" color="light" fill="clear" (click)="myslide.slideTo(2)">
            Skip
          </ion-button>
        </div>
      </div>

    </ion-slide>

    <ion-slide>
      <div class="page second">
        <img src="/assets/img/tour-2.jpg" alt="">

        <div class="text">
          <h1>Wide Game Database</h1>
          <p padding-horizontal>
            We're expanding our database according to the popularity we reach with our app, our catalogue will rise if
            you share our work.
          </p>
        </div>

        <div class="swiper-pagination"></div>

        <div class="footer" padding>
          <ion-button mode="ios" expand="block" color="secondary" shape="round" (click)="myslide.slideNext();">
            <ion-label>
              Next
            </ion-label>
          </ion-button>
          <ion-button></ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="page">
        <img src="/assets/img/tour-3.jpg" alt="">

        <div class="text">
          <h1>Customized Profile</h1>
          <p padding-horizontal>
            You will have your own profile with your favourite games list, your reviews, your comments and much more!
          </p>
        </div>

        <div class="swiper-pagination"></div>

        <div class="footer" padding>
          <ion-button mode="ios" expand="block" color="secondary" shape="round" [routerLink]="['/login']">
            <ion-label>
              Sign in
            </ion-label>
          </ion-button>
          <ion-text color="secondary">
            <h1>Don't have an account yet?</h1>
          </ion-text>
          <ion-button mode="ios" expand="block" color="tertiary" shape="round" [routerLink]="['/sign-up']">
            <ion-label>
              Sign up
            </ion-label>
          </ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>