ion-item {

    .ratings {
        display: flex;
        align-items: center;

        p {
            margin: 4px 18px 2px 2px;
            font-size: 13px;
            color: white;
        }

        ion-icon {
            color: #1751ff;
        }
    }
}