<ion-item lines="full" color="primary" margin *ngIf="rating">
  <ion-row>
    <ion-col size="4">
      <img src="{{rating.videogame.cover}}">
    </ion-col>
    <ion-col size="8">
      <h1>{{rating.videogame.title}}</h1>
      <h3>{{rating.videogame.releaseDate | date: 'yyyy'}} {{rating.videogame.developers}} {{rating.videogame.esrb}}</h3>
      <div class="ratings">
        <ion-icon name="ios-star" color="warning"></ion-icon>
        <p>{{rating.videogame.rating | number:'1.0-0'}}</p>
        <ion-icon name="ios-star"></ion-icon>
        <p>{{rating.rating | number:'1.0-0'}}</p>
        <div class="rating-box">{{rating.videogame.metacritic | number:'1.0-0'}}</div>
      </div>
    </ion-col>
  </ion-row>
</ion-item>