<ion-list lines="full" no-margin>
  <ng-container *ngIf="gamelists$ | async as gamelists">
    <ion-item *ngFor="let list of gamelists" color="primary">
      <ion-label>{{list.name}}</ion-label>
      <ion-button (click)="addGameToPlaylist(list.uuid)" color="secondary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ng-container>
  <ion-item color="primary">
    <ion-label>New playlist</ion-label>
    <ion-button (click)="dismiss()" color="secondary">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>