<ion-header>
  <ion-toolbar mode="ios" color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="first-steps"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="medium">
    We need this info to give you access to the app
  </ion-text>
  <ion-list lines="none" margin-top>
    <form [formGroup]="loginForm">
      <ion-item mode="ios" color="primary">
        <ion-label mode="ios" position="stacked">Email</ion-label>
        <ion-input mode="ios" type="text" placeholder="Write your email here" formControlName="username"> </ion-input>
      </ion-item>
      <ion-item mode="ios" color="primary">
        <ion-label mode="ios" position="stacked">Password</ion-label>
        <ion-input mode="ios" type="password" placeholder="Write your password here" formControlName="password">
        </ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>

<ion-footer padding>
  <ion-button mode="ios" expand="block" color="secondary" shape="round" (click)="login()">
    <ion-label>Sign in</ion-label>
  </ion-button>
</ion-footer>