<ion-card color="success" [routerLink]="['/games/',game.uuid]">
  <div class="title" padding-horizontal>
    <p>{{game.title}}</p>
  </div>
  <div class="image">
    <img src="{{game.cover}}" alt="">
  </div>
</ion-card>