ion-card {
    margin: 0.5rem 0 1rem;
    width: 200px;

    .image {
        height: 150px;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}