<ion-header>
  <ion-toolbar mode="ios" color="secondary">
    <ion-title *ngIf="gameList">
      {{gameList.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="gameList.videogames as videogames">
  <ion-row size="2">
    <ion-col size="4" *ngFor="let game of videogames">
      <ion-card no-padding [routerLink]="[ '/games', game.uuid ]" (click)="dismiss()">
        <img src="{{game.cover}}">
      </ion-card>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="videogames.length === 0">
    <ion-list padding>
      <ion-text color="secondary">
        <h1>You don't have any games yet</h1>
      </ion-text>
    </ion-list>
  </ng-container>
</ion-content>