<ion-header>
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="none" margin-top mode="ios">

    <ion-text color="medium">Edit your profile info whenever you want.</ion-text>

    <form [formGroup]="profileForm" margin-top>
      <ion-item color="primary">
        <ion-label position="stacked" mode="ios">Full name</ion-label>
        <ion-input type="text" placeholder="Write your new full name" formControlName="name"></ion-input>
      </ion-item>

      <ion-item color="primary">
        <ion-label position="stacked" mode="ios">E-mail</ion-label>
        <ion-input type="email" placeholder="Write your new e-mail" formControlName="email"></ion-input>
      </ion-item>

      <ion-item color="primary">
        <ion-label position="stacked" mode="ios">Nickname</ion-label>
        <ion-input type="text" placeholder="Write your new nickname" formControlName="nickname"></ion-input>
      </ion-item>

      <ion-item color="primary">
        <ion-label position="stacked" mode="ios">Password</ion-label>
        <ion-input mode="ios" type="password" placeholder="Write your new password" formControlName="password">
        </ion-input>
      </ion-item>

      <ion-item color="primary" *ngIf="profileForm.get('password').value">
        <ion-label position="stacked" mode="ios">Repeat password</ion-label>
        <ion-input mode="ios" type="password" placeholder="Repeat your new password" formControlName="passwordRepeat">
        </ion-input>
      </ion-item>
      <!-- <span *ngIf="profileForm.controls.passwordRepeat.value && profileForm.hasError('notSame')">
        Las contraseñas no coinciden</span> -->
    </form>
  </ion-list>

</ion-content>

<ion-footer padding>
  <ion-button mode="ios" expand="block" color="secondary" shape="round" (click)="submit()">
    Editar perfil
  </ion-button>
</ion-footer>