ion-card {
    padding: 1rem;
    background: #fff;
    // background: url(../../../assets/img/pattern.png) repeat !important;
    // background-size: 250px;


    ion-avatar {
        width: 90px;
        height: 90px;
        margin-left: 15px;
    }


    h1 {
        font-weight: bold;
        font-size: 19px;
        margin: 0;
        color: black;
    }
}