<ion-card mode="ios">
  <ion-row align-items-center>
    <ion-col size="6">
      <app-image-picker (pictureSelected)="changeImage($event)" padding>
        <ion-avatar>
          <img [src]="userData.avatar ? userData.avatar : profileImage" />
        </ion-avatar>
      </app-image-picker>
    </ion-col>
    <ion-col size="6">
      <h1>{{userData.name}}</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-label>
        <h3>NICKNAME</h3>
        <h2>{{userData.nickname}}</h2>
      </ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label>
        <h3>FAVOURITE GAME</h3>
        <h2>{{gameList[0].videogames[gameList[0].videogames.length-1].title}}</h2>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-card>