<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>New Playlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-item>
    <ion-label  position="stacked">Playlist Name</ion-label>
    <ion-input placeholder="Type playlist name"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button text-center expand="block" fill="solid" color="secondary" (click)="createPlaylist()">
      <ion-icon slot="icon-only" name="add" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
