<ion-header>
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>My lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item color="primary" lines="none" class="title">
    <ion-label color="light">Custom Games' Lists</ion-label>
    <ion-toggle color="tertiary" mode="md" slot="end" (ionChange)=toggleReorderGroup()></ion-toggle>
  </ion-item>

  <ion-list lines="full" margin-top mode="ios">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
      <!-- Default reorder icon, end aligned items -->
      <ng-container *ngFor="let list of customLists">
        <ion-item button="true" color="primary" detail="false" (click)="openPlaylistModal(list)">
          <ion-label>
            {{list.name}}
          </ion-label>
          <ion-reorder slot="end">
            <ion-icon name="ios-reorder" size="large" color="light"></ion-icon>
          </ion-reorder>
        </ion-item>
      </ng-container>
    </ion-reorder-group>
    <ion-text color="secondary" *ngIf="customLists.length === 0">
      <h1>You don't have any playlists yet</h1>
    </ion-text>
  </ion-list>
</ion-content>