<ion-header>
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>My Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="comments$ | async as comments">

  <ion-text color="light">
    <h2>List of Game Reviews</h2>
  </ion-text>

  <ion-list lines="none" margin-top mode="ios">
    <ion-item color="primary">
      <ion-label>Expand comments</ion-label>
      <ion-toggle color="tertiary" mode="md" (ionChange)="toggleExpand()"></ion-toggle>
    </ion-item>

    <ng-container *ngFor="let comment of comments">
      <app-game-comment-item [comment]=comment [textExpand]="expand"></app-game-comment-item>
    </ng-container>


  </ion-list>

</ion-content>