<ion-header>
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>My Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-text color="light">
    <h2>List of Game Reviews</h2>
  </ion-text>

  <ion-list lines="none" margin-top mode="ios">
    <ion-item button="true" detail="false" color="primary" class="filters" (click)="presentPopover($event)">
      <ion-label>{{filterLabel | titlecase }}</ion-label>
      <ion-icon slot="end" name="ios-options"></ion-icon>
    </ion-item>

    <ng-container *ngIf="ratings$ | async as ratings">
      <ng-container *ngFor="let rating of ratings">
        <app-game-review-item [rating]="rating" [routerLink]="[ '/games', rating.videogame.uuid]">
        </app-game-review-item>
      </ng-container>
      <ng-container *ngIf="ratings.length === 0">
        <ion-text color="secondary">
          <h1>You don't have any reviews yet</h1>
        </ion-text>
      </ng-container>
    </ng-container>

  </ion-list>

</ion-content>