@import '../../../theme/mixins';

a {
    text-decoration: none;
}

ion-card {
    margin: 0.5rem 0 1rem;
    background: #fff;

    .event-image-container {
        height: 100px;
        position: relative;

        .event-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .event-type {
            position: absolute;
            bottom: 0;
            left: 5px;
            height: 20px;
            max-width: 90%;
            display: flex;
            min-width: 70%;

            .decoration {
                height: 20px;
                width: auto;
            }


            &-content {
                background-color: #fff;
                display: inline-flex;
                align-items: center;
                height: 20px;
                flex: 1 0;
                max-width: 80%;
                padding-top: 6px;

                span {
                    color: var(--ion-color-tertiary);
                    position: relative;
                    top: 2px;
                    @include truncate(90%);
                }
            }
        }
    }

    ion-card-content {
        text-align: left;
        padding: 1rem 1rem 0.7rem;

        .event-data {

            h1 {
                font-size: 12px;
                color: var(--ion-color-dark);
            }

        }


        .event-date {
            border-left: 1px solid var(--ion-color-primary-tint);
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 17px;
                color: var(--ion-color-tertiary);
                margin: 0;
            }

            h2 {
                font-size: 22px;
                color: var(--ion-color-dark);
                font-weight: bold;
                margin: 0;
                line-height: 0.8;
            }
        }
    }
}