<ion-card *ngIf="notice === 1">
  <a href="https://www.ign.com/articles/2016/10/28/titanfall-2-review">
    <div class="event-image-container">
      <ion-img class="event-image" src="/assets/img/titanfall.jpg" alt=""></ion-img>
      <div class="event-type">
        <img class="decoration" src="assets/img/event-left-square.png" alt="">
        <div class="event-type-content">
          <span>Titanfall 2</span>
        </div>
        <img class="decoration" src="assets/img/event-right-square.png" alt="">
      </div>
    </div>

    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="event-data" size="8">
            <h1>IGN has reviewed one of the most important games of the year</h1>
          </ion-col>
          <ion-col class="event-date" size="4">
            <p>Oct 24</p>
            <h2>2016</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </a>
</ion-card>

<ion-card *ngIf="notice === 2">
  <a href="https://heavy.com/games/2019/06/star-wars-battlefront-2-droidekas-felucia/">
    <div class="event-image-container">
      <ion-img class="event-image" src="/assets/img/starwars.jpg" alt=""></ion-img>
      <div class="event-type">
        <img class="decoration" src="assets/img/event-left-square.png" alt="">
        <div class="event-type-content">
          <span>Star Wars BF 2</span>
        </div>
        <img class="decoration" src="assets/img/event-right-square.png" alt="">
      </div>
    </div>

    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="event-data" size="8">
            <h1>Droidekas will finally come to Star Wars Battlefront 2 and more...</h1>
          </ion-col>
          <ion-col class="event-date" size="4">
            <p>Jun 7</p>
            <h2>2019</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </a>
</ion-card>

<ion-card *ngIf="notice === 3">
  <a href="https://vandal.elespanol.com/avances/ps4/fifa-20/74069/1#p-73">
    <div class="event-image-container">
      <ion-img class="event-image" src="/assets/img/fifa.jpg" alt=""></ion-img>
      <div class="event-type">
        <img class="decoration" src="assets/img/event-left-square.png" alt="">
        <div class="event-type-content">
          <span>FIFA 20</span>
        </div>
        <img class="decoration" src="assets/img/event-right-square.png" alt="">
      </div>
    </div>

    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="event-data" size="8">
            <h1>First impressions of FIFA 20 are out now!</h1>
          </ion-col>
          <ion-col class="event-date" size="4">
            <p>Jun 9</p>
            <h2>2019</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </a>
</ion-card>

<ion-card *ngIf="notice === 4">
  <a href="https://www.polygon.com/fortnite/2019/5/10/18564387/fortnite-pump-shotgun-vaulted-combat-best-gun">
    <div class="event-image-container">
      <ion-img class="event-image" src="assets/img/fortnite.jpg" alt=""></ion-img>
      <div class="event-type">
        <img class="decoration" src="assets/img/event-left-square.png" alt="">
        <div class="event-type-content">
          <span>Fortnite</span>
        </div>
        <img class="decoration" src="assets/img/event-right-square.png" alt="">
      </div>
    </div>

    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="event-data" size="8">
            <h1>Fortnite’s Pump Shotgun replacement doesn’t quite fill the void</h1>
          </ion-col>
          <ion-col class="event-date" size="4">
            <p>May 10</p>
            <h2>2019</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </a>
</ion-card>

<ion-card *ngIf="notice === 5">
  <a href="https://esports.as.com/apex-legends/Apex-Legends-caida-libre-ingresos_0_1247575233.html">
    <div class="event-image-container">
      <ion-img class="event-image" src="assets/img/apex.jpg" alt=""></ion-img>
      <div class="event-type">
        <img class="decoration" src="assets/img/event-left-square.png" alt="">
        <div class="event-type-content">
          <span>Apex Legends</span>
        </div>
        <img class="decoration" src="assets/img/event-right-square.png" alt="">
      </div>
    </div>

    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="event-data" size="8">
            <h1>Apex Legends keeps on free falling, sales are awful day by day...</h1>
          </ion-col>
          <ion-col class="event-date" size="4">
            <p>May 27</p>
            <h2>2019</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </a>
</ion-card>

<ion-card *ngIf="notice === 6">
  <a href="https://vandal.elespanol.com/avances/ps4/medievil-remake/55351/2#p-73">
    <div class="event-image-container">
      <ion-img class="event-image" src="assets/img/medievil.jpg" alt=""></ion-img>
      <div class="event-type">
        <img class="decoration" src="assets/img/event-left-square.png" alt="">
        <div class="event-type-content">
          <span>Medievil Remake</span>
        </div>
        <img class="decoration" src="assets/img/event-right-square.png" alt="">
      </div>
    </div>

    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="event-data" size="8">
            <h1>This is all we know about the new remake of the Medievil PS1 Game for PS4</h1>
          </ion-col>
          <ion-col class="event-date" size="4">
            <p>Apr 15</p>
            <h2>2019</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </a>
</ion-card>