// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


ion-content {
    --background: var(--ion-color-primary);
}

ion-button {
    ion-label {
        font-weight: bold;
    }
}

form {
    ion-item {
        margin-bottom: 0.75em;
    }
}

h1 {
    color: white;
    font-size: 16px;
}

h2 {
    font-size: 20px;
}

h3 {
    color: gray;
    font-size: 13px;
}

.contact-popover {
    --width: 91%;
}

ion-footer {
    background: var(--ion-color-primary);
}

ion-list {
    background: var(--ion-color-primary) !important;
}

.rating-box {
    background-color: rgba(70, 211, 70, 0.9);
    color: white;
    padding: 2px;
    font-size: 16px;
}

ion-item {
    ion-input {
        border-radius: 10px;
        border: solid 1px;
        --padding-start: 0.8rem !important;

        &.has-focus {
            border: solid 2px var(--ion-color-warning);
        }
    }
}

.voting-modal {
    background-color: var(--ion-color-primary);
    height: 20%;
    top: 80%;
    position: absolute;
}