<ion-header>
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Legal Documentation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding mode="ios">
    <ion-text color="light">
      <p>Welcome to IGDb. IGDb.com, Inc. and/or its affiliates ("IGDb") provide its website features and other services
        to you subject to the following conditions. If you visit IGDb.com, use other IGDb services, products, or use
        software or mobile applications provided by IGDb that states that it is subject to these Conditions of Use
        (collectively “IGDb Services”), you accept these conditions. Please read them carefully. In addition, when you
        use any current, future IGDb Services, (e.g., IGDbPro.com) you also will be subject to the guidelines, terms and
        agreements (“Terms”) applicable to that IGDb Service. If these Conditions of Use are inconsistent with the Terms
        provided for any IGDb service, the Terms will control.</p>
    </ion-text>
    <ion-list-header>
      <ion-label color="light">Privacy</ion-label>
    </ion-list-header>
    <ion-text color="light">
      <p>The information we learn from users helps us personalize and continually improve your experience at IGDb. Here
        are the types of information we gather:</p>
      <ul>
        <li><b>Information You Give Us:</b> We receive and store any information you enter on our Web site or give us in
          any other way. Click here to see examples of what we cullect. You can choose not to provide certain
          information, but then you might not be able to take advantage of many of our features. We use the information
          that you provide for such purposes as responding to your requests, customizing future browsing for you,
          improving our site, and communicating with you.</li>
        <li><b>Automatic Information:</b> We receive and store certain types of information whenever you interact with
          us. For example, like many Web sites, we use "cookies," and we obtain certain types of information when your
          Web browser accesses IGDb or advertisements and other content served by or on behalf of IGDb on other Web
          sites. Click here to see examples of the information we receive.</li>
        <li><b>E-mail Communications:</b> To help us make e-mails more useful and interesting, we often receive a
          confirmation when you open e-mail from IGDb if your computer supports such capabilities. We also compare our
          user list to lists received from other companies, in an effort to avoid sending unnecessary messages to our
          users. If you do not want to receive e-mail or other mail from us, please use our User Administration pages to
          adjust your preferences.</li>
        <li><b>Mobile:</b> When you download or use apps created by IGDb, we may receive information about your location
          and your mobile device, including a unique identifier for your device. We may use this information to provide
          you with location-based services, such as advertising, local show times, search results, and other
          personalized content. Most mobile devices allow you to turn off location services. For more information about
          how to do this, click here.</li>
        <li><b>Information from Other Sources:</b> We might receive information about you from other sources and add it
          to our account information. Click here to see examples of the information we receive.</li>
      </ul>
    </ion-text>
    <ion-list-header>
      <ion-label color="light">Copyright</ion-label>
    </ion-list-header>
    <ion-text color="light">
      <p>All content included on this site in or made available through any IGDb Service, such as text, graphics, logos,
        button icons, images, audio clips, video clips, digital downloads, data compilations, and software, is the
        property of IGDb or its content suppliers and protected by United States and international copyright laws. The
        compilation of all content included in or made available through any IGDb Service is the exclusive property of
        IGDb and protected by U.S. and international copyright laws. All software used in any IGDb Service is the
        property of IGDb or its software suppliers and protected by United States and international copyright laws.</p>
    </ion-text>
    <ion-list-header>
      <ion-label color="light">Trademarks</ion-label>
    </ion-list-header>
    <ion-text color="light">
      <p>IGDb and STARMETER are registered trademarks, and the IGDb logo, METACRITIC, and other marks indicated
        in any IGDb Services are trademarks of IGDb in the United States and/or other countries. Other IGDb graphics,
        logos, page headers, button icons, scripts, and service names are trademarks or trade dress of IGDb. IGDb's
        trademarks and trade dress may not be used in connection with any product or service that is not IGDb's, in any
        manner that is likely to cause confusion among customers, or in any manner that disparages or discredits IGDb.
        All other trademarks not owned by IGDb that appear on this site or in any IGDb Service are the property of their
        respective owners, who may or may not be affiliated with, connected to, or sponsored by IGDb.</p>
    </ion-text>
  </ion-list>
</ion-content>