<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Game Franchise</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts" *ngIf="franchiseList$ | async as franchiseList">
    <ion-slide *ngFor="let game of franchiseList">
      <app-game-card [game]="game" [routerLink]="['/games', game.uuid]" (click)="dismiss()"></app-game-card>
    </ion-slide>
  </ion-slides>
</ion-content>