<ion-item lines="full" color="primary" margin>
  <ion-thumbnail slot="start"  [routerLink]="['/games', comment.videogame.uuid]">
    <img src="{{comment.videogame.cover}}" />
  </ion-thumbnail>

  <ion-label text-wrap *ngIf="textExpand">
    {{comment.videogame.title}}
    <p>{{comment.comment}}</p>
  </ion-label>
  <ion-label *ngIf="!textExpand">
    {{comment.videogame.title}}
    <p>{{comment.comment}}</p>
  </ion-label>
</ion-item>