<ion-item lines="full" color="primary" margin>
  <ion-avatar slot="start">
    <img src="{{comment.user.avatar ? comment.user.avatar : '/assets/img/user-placeholder.png'}}">
  </ion-avatar>

  <ion-label text-wrap>
    <div>
      <h2>{{comment.user.nickname}}</h2>
      <p>{{comment.createdDate | timeago}}</p>
    </div>
    <p>{{comment.comment}}</p>
  </ion-label>
</ion-item>