ion-item {
    margin-top: 0;

    ion-label {
        margin-left: 30px !important;

        div {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            color: var(--ion-color-secondary);

            p {
                font-size: 80%;
                text-align: right;
            }
        }
    }
}