<ion-header>
  <ion-toolbar mode="ios" color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="first-steps"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="medium">
    We need this info to create an account for you
  </ion-text>
  <ion-list lines="none" margin-top>
    <form [formGroup]="signForm">
      <ion-item mode="ios" color="primary">
        <ion-label mode="ios" position="stacked">E-mail</ion-label>
        <ion-input mode="ios" type="email" placeholder="Write your e-mail here" formControlName="email"> </ion-input>
      </ion-item>
      <ion-item mode="ios" color="primary">
        <ion-label mode="ios" position="stacked">Full name</ion-label>
        <ion-input mode="ios" type="text" placeholder="Write your full name here" formControlName="name">
        </ion-input>
      </ion-item>
      <ion-item mode="ios" color="primary">
        <ion-label mode="ios" position="stacked">Nickname</ion-label>
        <ion-input mode="ios" type="text" placeholder="Write your nickname here" formControlName="nickname">
        </ion-input>
      </ion-item>
      <ion-item mode="ios" color="primary">
        <ion-label mode="ios" position="stacked">Password</ion-label>
        <ion-input mode="ios" type="password" placeholder="Write your password here" formControlName="password">
        </ion-input>
      </ion-item>
      <ion-item mode="ios" color="primary" *ngIf="signForm.get('password').value">
        <ion-label mode="ios" position="stacked">Repeat password</ion-label>
        <ion-input mode="ios" type="password" placeholder="Repeat your password here" formControlName="passwordRepeat">
        </ion-input>
      </ion-item>
      <span *ngIf="signForm.controls.passwordRepeat.value && signForm.hasError('notSame')" padding-horizontal>
        Las contraseñas no coinciden</span>
    </form>
  </ion-list>
</ion-content>

<ion-footer padding>
  <ion-button mode="ios" expand="block" color="secondary" shape="round" (click)="signUp()">
    <ion-label>Sign up</ion-label>
  </ion-button>
</ion-footer>