<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="tertiary" mode="ios">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-list lines="full">
          <ion-item button="true" detail="false" color="dark" [routerLink]="['/tabs/profile']" (click)="closeMenu()">
            <ion-label>Profile</ion-label>
            <ion-icon slot="end" name="ios-contact"></ion-icon>
          </ion-item>
          <ion-item button="true" detail="false" color="dark" [routerLink]="['/tabs/search']" (click)="closeMenu()">
            <ion-label>Search games</ion-label>
            <ion-icon slot="end" name="logo-game-controller-b"></ion-icon>
          </ion-item>
          <ion-item button="true" detail="false" color="dark" [routerLink]="['/my-reviews']" (click)="closeMenu()">
            <ion-label>My reviews</ion-label>
            <ion-icon slot="end" name="ios-star"></ion-icon>
          </ion-item>
          <ion-item button="true" detail="false" color="dark" [routerLink]="['/my-comments']" (click)="closeMenu()">
            <ion-label>My comments</ion-label>
            <ion-icon slot="end" name="ios-text"></ion-icon>
          </ion-item>
          <ion-item button="true" detail="false" color="dark" [routerLink]="['/profile-edit']" (click)="closeMenu()">
            <ion-label>Edit profile</ion-label>
            <ion-icon slot="end" name="md-create"></ion-icon>
          </ion-item>
          <ion-item button="true" detail="false" color="dark" (click)="logout()">
            <ion-label>Log out</ion-label>
            <ion-icon slot="end" name="ios-power"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>