<ion-content>
  <ion-item button="true" (click)="toggleList()" detail="false">
    <ion-label>Sort by</ion-label>
    <ion-icon slot="end" name="ios-arrow-up" *ngIf="filterList"></ion-icon>
    <ion-icon slot="end" name="ios-arrow-down" *ngIf="!filterList"></ion-icon>
  </ion-item>

  <ion-list lines="full" *ngIf="filterList">
    <ion-radio-group name="auto" [(ngModel)]="filter" (ionChange)="filterRatings()">
      <ion-item color="primary">
        <ion-label>Date</ion-label>
        <ion-radio value="date" color="tertiary" mode="ios"></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Rating</ion-label>
        <ion-radio value="rating" color="tertiary" mode="ios"></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Game</ion-label>
        <ion-radio value="game" color="tertiary" mode="ios"></ion-radio>
      </ion-item>
      <ion-item color="primary">
        <ion-label>Franchise</ion-label>
        <ion-radio value="franchise" color="tertiary" mode="ios"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>