:host {
    background-color: var(--ion-color-primary);
}

ion-content {
    .artwork {
        ion-img {
            width: 100%;
            object-fit: cover;
            object-position: top;
            height: 40vh;
        }
    }

    .game-title {
        align-items: center;

        ion-button {
            --ion-color-shade: #1a374b !important;

            ion-icon {
                font-size: 30px;
            }
        }

        h2 {
            color: white;
        }
    }

    .game-detail {
        padding-bottom: 0;

        ion-img {
            width: 100%;
            height: 150px;
        }
    }

    .ratings {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .rating-slot {
            display: flex;
            flex-flow: column;
            align-items: center;

            p {
                margin: 0;
                color: white;

                &+p {
                    color: gray;
                    font-size: 14px;
                }
            }
        }

        .rating-slot:first-child {
            margin-top: 1rem;
        }

        .rating-slot:last-child {
            flex-flow: row;
            margin-bottom: 15px;

            .rating-box {
                padding: 5px;
            }

            p {
                margin-left: 10px;
            }
        }
    }

    .game-info {
        span {
            color: white;
        }

        ion-icon {
            &+ion-icon {
                margin-left: 5px;
            }
        }
    }

    .videos {
        display: flex;
        width: 100%;
        overflow: scroll;

        iframe {
            &+iframe {
                margin-left: 20px;
            }
        }
    }

    .images {
        ion-slide {
            border-radius: 10px;

            ion-img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
    }

    ion-col {
        h2 {
            color: white;
        }
    }

    .comment-list {
        overflow-y: scroll;
        height: 200px;
    }

    .comment-input {
        --padding-top: 8px;
        --padding-bottom: 8px;

        ion-input {
            &.has-focus {
                border: solid 2px var(--ion-color-primary);
            }
        }
    }
}