<ion-header>
    <ion-fab vertical="top" horizontal="end" no-padding *ngIf="websites.length > 0">
        <ion-fab-button color="tertiary">
          <ion-icon name="ios-arrow-dropdown"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="center">
          <ng-container *ngFor="let website of websites">
            <ion-fab-button *ngIf="website.category === 15" href="{{website.url}}">
              <ion-icon name="logo-steam"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="website.category === 1" href="{{website.url}}">
              <ion-icon name="logo-game-controller-b"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="website.category === 4" href="{{website.url}}">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="website.category === 5" href="{{website.url}}">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="website.category === 9" href="{{website.url}}">
              <ion-icon name="logo-youtube"></ion-icon>
            </ion-fab-button>
          </ng-container>
        </ion-fab-list>
      </ion-fab>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" [defaultHref]="['/tabs/search']"></ion-back-button>
    </ion-buttons>
    <ion-title>Game Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="videogame$ | async as game">
    <ion-row>
      <ion-col no-padding class="artwork">
        <ion-slides>
          <ion-slide *ngFor="let artwork of game.artworks">
            <ion-img src="{{artwork}}"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal class="game-title">
      <ion-col size="10">
        <h2 class="ion-float-start ion-no-margin">{{game.title}}</h2>
      </ion-col>
      <ion-col size="2">
        <ion-button color="primary" (click)="openOptionsPopover(game.uuid)">
          <ion-icon name="md-more"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row padding class="game-detail">
      <ion-col size="4">
        <ion-img src="{{game.cover}}"></ion-img>
      </ion-col>

      <ion-col size="8">
        <ng-container *ngIf="game.summary && !fullView">
          <ion-text color="light">{{game.summary | slice: 0:194}} ... </ion-text>
          <ion-label color="tertiary" (click)="fullView = true">READ MORE</ion-label>
        </ng-container>

        <ng-container *ngIf="fullView">
          <ion-text color="light">{{game.summary}}</ion-text>
        </ng-container>

        <ion-text *ngIf="!game.summary && game.storyline" color="light">{{game.summary | slice: 0:194}} ...
        </ion-text>

        <ion-button size="small" color="tertiary" margin-top (click)="addToFavorites(game.uuid)" *ngIf="!added">
          <ion-icon name="ios-add" color="light"></ion-icon>
          <ion-label color="light">ADD TO FAVOURITES</ion-label>
        </ion-button>

        <ion-button size="small" color="tertiary" margin-top *ngIf="added">
          <ion-icon name="ios-checkmark" color="light"></ion-icon>
          <ion-label color="light">ADDED TO FAVOURITES</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

    <div class="ratings" margin-top padding-horizontal>
      <div class="rating-slot">
        <ion-icon name="ios-star" size="large" color="warning"></ion-icon>
        <p>{{game.rating | number:'1.0-0'}} <small>/100</small></p>
        <p>{{game.rating_count}}</p>
      </div>
      <div class="rating-slot">
        <ng-container *ngIf="!(userRating$ | async)">
          <ion-button fill="clear" (click)="openVotingModal(game)">
            <ion-icon name="ios-star-outline" size="large" color="warning"></ion-icon>
          </ion-button>
          <p>Rate This</p>
        </ng-container>
        <ng-container *ngIf="(userRating$ | async) as userRating">
          <ion-icon name="ios-star" size="large" style="color:#1751ff"></ion-icon>
          <p>{{userRating.rating}}</p>
        </ng-container>

      </div>
      <div class="rating-slot">
        <div class="rating-box">{{game.metacritic | number:'1.0-0'}}</div>
        <p>Metascore</p>
      </div>
    </div>
    <ion-row padding-horizontal class="game-info">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="game.platforms.length > 0">
            <span>Platforms:</span>
            <span class="ion-padding-horizontal">
              <ng-container *ngFor="let platform of game.platforms">
                <ion-icon name="logo-playstation" *ngIf="platform.substring(0, 4) === 'Play'"></ion-icon>
                <ion-icon name="logo-xbox" *ngIf="platform.substring(0, 4) === 'Xbox'"></ion-icon>
                <ion-icon name="laptop" *ngIf="platform.substring(0, 2) === 'PC'"></ion-icon>
              </ng-container>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>Genre:</span>
            <span class="ion-padding-horizontal">{{game.genres}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>Franchise:</span>
            <span class="ion-padding-horizontal">{{game.franchise}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <ion-row class="ion-padding-horizontal" *ngIf="game.videos.length > 0">
      <ion-col>
        <h2>Videos</h2>
        <div class="videos">
          <ng-container *ngFor="let video of game.videos">
            <iframe class="e2e-iframe-trusted-src" width="340" height="270" [src]="trustURL(video)" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </ng-container>
        </div>

      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal" *ngIf="game.screenshots.length > 0 || game.artworks.length > 0">
      <ion-col class="images">
        <h2>Images</h2>
        <ion-slides>
          <ng-container *ngIf="game.screenshots">
            <ion-slide *ngFor="let screenshot of game.screenshots">
              <ion-img src="{{screenshot}}"></ion-img>
            </ion-slide>
          </ng-container>
          <ng-container *ngIf="game.artworks">
            <ion-slide *ngFor="let artwork of game.artworks">
              <ion-img src="{{artwork}}"></ion-img>
            </ion-slide>
          </ng-container>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row padding-horizontal>
      <ion-col>
        <h2>Comments</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col no-padding>
        <ng-container *ngIf="comments$ | async as comments">
          <ion-list class="comment-list" no-margin>
            <ng-container *ngFor="let comment of comments">
              <app-game-comments [comment]="comment"></app-game-comments>
            </ng-container>
            <ng-container *ngIf="comments.length === 0">
              <ion-text color="secondary">
                <h1 padding-horizontal>There aren't any comments yet</h1>
              </ion-text>
            </ng-container>
          </ion-list>
        </ng-container>

        <ion-list no-margin color="secondary" lines="none">
          <ion-item color="secondary" class="comment-input">
            <ion-input [(ngModel)]="comment" placeholder="Write your comment here">
            </ion-input>
            <ion-button (click)="addComment()" color="secondary">
              <ion-icon slot="icon-only" name="send" color="primary"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer padding>
    
  </ion-footer>
</ion-content>